html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	background-color: #ccc;
}
.box {
	background-color: #fff;
	width: 500px;
	padding: 50px;
	box-shadow: 5px 10px 10px;
	margin: 50px auto;

}
.rv23 {
	text-align: center;
}
.box p {
	text-align: center;
}